
.footer {
  background: rgba(104, 104, 104, 0.336);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 99%;
  border-top: solid 2px rgba(255, 255, 255, 0.63);
  opacity: 1;  
  text-align: center;
  backdrop-filter: blur(5px);
}


.footer span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}

.footer h4,
.footer h5 {
  margin: 0;
  display: inline;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  color: #4e4e4e;
  font-size: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffffff;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .footer {
    padding: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .social-icons a {
    font-size: 18px;
  }
}
